* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  background: #eceff1;
  font-family: "Roboto", sans-serif;
}

/* NAVEGADOR */

.header {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  transition: all 0.3s;
}

.header .logo p {
  padding-left: 8px;
  color: #eceff1;
  font-size: 16px;
}

.header .logo img {
  height: 50px;
  width: auto;
}

.header .logo:hover {
  transform: scale(1.1);
}

.header nav .nav-link {
  list-style: none;
}

.header nav li {
  list-style: none;
  padding: 10px;
  color: white;
  transition: all 0.3s;
}

.header nav li:hover {
  transform: scale(1.1);
}

.header nav a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header nav a:hover {
  color: #e5b026;
}

.header .btn-header button {
  font-weight: 700;
  color: #1b3039;
  padding: 9px 15px;
  background-color: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn-header button:hover {
  background-color: #eceff1;

  transform: scale(1.1);
}

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: rgba(33, 49, 63, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 5px;
  font-size: 36px;
  display: block;
  transition: all 0.3 ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #e5b026;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

.menu {
  display: none;
}



/*---------------------------------------------- PRESENTACION ---------------------------------------------------*/

.presentacion {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    url(../image/banner2.png);
  background-size: cover;
  height: 500px;
}

.presentacion .pre2 {
  /* 
  border: solid black; */
  border-radius: 10px;
  width: 70%;
  margin: 50px;
  color: #eceff1;
}

.presentacion .pre2 .presentacion_card {
  display: inline-block;
  color: #eceff1;
  /* height: 100%; */
  margin: 5%;
  padding: 2%;
}

.presentacion .pre2 button a {
  color: #eceff1;
  text-decoration: none;
}

.button {
  margin-top: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #eceff1;
  background-color: #1b3039;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.presentacion .pre2 .presentacion_card img {
  border-radius: 10px;
  width: auto;
  height: 350px;
}

.fa-brands {
  font-size: 25px;
  color: #eceff1;
  margin: 5px;
  transition: all 0.3s ease 0s;
}

.fa-brands:hover {
  transform: scale(1.1);
}

/* ------------------------------------------ ABOUT ---------------------------------------------------- */

#about .informacion {
  margin: 4%;
  height: auto;
  width: 50%;
}

#about .container .about {
  margin-bottom: 30px;
  font-size: 15px;
}

#about .container .about p {
  font-size: 15px;
}

#about .skills-educacion {
  display: flex;
  margin-top: 20px;
}

#about .skills-educacion li {
  list-style: none;
  font-size: 13px;
  font-style: italic;
  margin: 3px;
}

#about .skills-educacion ul li:first-child {
  list-style-type: disc;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
}

#about .informacion .skills-educacion img {
  height: 50px;
}

#about .informacion .skills-educacion .skills {
  margin-left: 40px;
  align-items: center;
}

#about .skills h2 {
  margin-left: 21px;
}

#about .skills-img div {
  margin-top: 5px;
  text-align: center;
  width: 90px;
}

#about .informacion .skills-educacion .skills p {
  text-align: center;
  font-size: 15px;
}

/* ------------------------------------------ PROYECTOS ------------------------------------------------ */

#proyect {
  background-color: #1b3039;
  color: #eceff1;
  text-align: center;
}

#proyect .container h2 {
  font-size: 40px;
}

#proyect .container {
  padding: 50px 0px;
}

#proyect .card {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

#proyect .proyectos {
  display: flex;
  justify-content: center;
}

#proyect img {
  margin: 20px 0px;
  height: 50px;
}

#proyect .card {
  padding: 15px;
}

#proyect .proyect-banner {
  width: 350px;
  height: auto;
}

.fa-solid {
  font-size: 25px;
  color: #eceff1;
  margin: 5px;
  transition: all 0.3s ease 0s;
}

.fa-solid:hover {
  transform: scale(1.1);
}

/*----------------------------------------------- CONTACTO ------------------------------------------------- */

#contacto a {
  color: #1b3039;
}

#contacto i {
  color: #1b3039;
  font-size: 15px;
}

#contacto .contacto h2 {
  font-size: 30px;
}

#contacto .contacto div {
  margin-top: 20px;
  font-size: 15px;
}

#contacto .contacto p {
  font-size: 15px;
}

form {
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  width: 340px;
  background-color: #0e191c;
  margin: 70px;
}

form .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form label {
  color: #eceff1;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

form input,
textarea {
  padding: 4px 15px;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
  background-color: #1b3039;
  color: #eceff1;
  resize: none;
}

form input::placeholder,
textarea::placeholder {
  color: #eceff1;
  font-size: 14px;
}

/* -------------------------------------------- FOOTER ---------------------------------------------------- */

footer {
  background-color: #1b3039;
  display: flex;
  justify-content: right;
  height: 40px;
}

footer .container p {
  color: #eceff1;
  font-size: 15px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* -------------------------------------------------- RESPONSIVE ---------------------------------------- */




@media screen and (max-height: 500px) {
  .header .overlay a {
    font-size: 20px;
  }

  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }


}

@media screen and (max-width: 800px) {

  
  .nav-link,
  .btn-header {
    display: none;
  }
  .menu {
    display: inherit;
  }
  
  .tecnologias{
    display: none;
  }

  #proyect .proyectos{
    display: block;
  }

  #proyect .proyect-banner {
    width: 300px;
    height: auto;
  }




  /* -------------------------- responsive about ---------------------------------------- */

  #about .skills h2 {
    text-align: center;
  }

  #about .skills-educacion {
    display: block;
    margin-top: 20px;
  }

  #about .container .about{
    text-align: center;
  }

  #about .informacion .skills-educacion{
    text-align: center;
  }

  #about .informacion .skills-educacion .estudios{
    margin: 30px 0px;
  }

  #about .skills-educacion ul li:first-child {
    list-style-type: none;
  }

  #about .informacion .skills-educacion .skills {
    margin-left: 0px;
  }
  

/*   ---------------------------------- respondive contacto ------------------------------------ */

  #contacto .contac_container{
    display: block;
  }

  #contacto .contacto{
    text-align: center;
  }

  #contacto{
    margin-top: 40px;
  }


}